<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="PHP" />
            <add name="PHP" path="*.PHP" verb="*" modules="FastCgiModule" scriptProcessor="D:\php_5_6_8_nts_Win32VC11X86\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
