 <!doctype html>
<html>
<meta charset="utf-8" />
<head>
<title>tester</title>
<link rel="styleSheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
<link rel="styleSheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-theme.min.css" />
<link rel="styleSheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-theme.min.css" />
<link rel="styleSheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-responsive.min.css" />
<link rel="styleSheet" type="text/css" href="__PUBLIC__/qnr/css/qnr.css" />
<script lanuage="javascript" type="text/javascript" src="__PUBLIC__/js/jquery-2.1.3.min.js"></script>
<script lanuage="javascript" type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script lanuage="javascript" type="text/javascript" src="__PUBLIC__/qnr/js/js.js"></script>
<script>
$(function(){
	$("#getdata").click(function(){
		$("#datasearch").submit();
	});
});

</script>
</head>
<body>
<div id="iframe" style="position:fixed; right:0;top:0; width:600px; height:480px; z-index:9999; visibility:hidden"></div>
<div style="width:50px; height:50px; position:fixed; right:0; top:0; z-index:99999" id="iframeToggle"></div>
<form id="priceData" style="display:none"></form>
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
  <ul>
	<li class="title">房价倒挂监测</li>
    <li><a href="{:U('Index/index')}"><i class="glyphicon glyphicon-home"></i> <span>首页</span></a> </li>
    <li> <a href="{:U('Ipconfig/index')}"><i class="glyphicon glyphicon-transfer"></i> <span>代理IP</span></a> </li>
     <li> <a href="{:U('Gethotel/index')}"><i class="glyphicon glyphicon-cloud-download"></i> <span>更新酒店</span></a>
    <li class="active"><a href="{:U('Pricedata/index')}"><i class="glyphicon glyphicon-floppy-save"></i> <span>数据导出</span></a></li>

  </ul>
</div>

<div id="content">
	<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form role="form" action="__URL__/search" id="datasearch" method="post">
			  <div class="form-group ">
				<label for="name" class="col-sm-2 control-label">选择已抓取的记录</label>
				<div class="col-sm-10">
				<select class="form-control" name="timeid">
				<volist name="selects" id='s1'>
					 <option value="{$s1.id}">{$s1.time}</option>
				</volist>
				</select>
				</div>
			  </div>
			 </form>
			 <br /> <br /> <br />
			<div><button class="btn btn-primary btn-lg" id="getdata" autocomplete="off"> 查询数据 </button>
			</div> <br /> <br /> 
			
			<div id="dataBox">
				<table class="table table-condensed table-bordered">
				
				<thead>
				    <if condition="$time">
					<tr><th colspan="5" align="center"><p>{$time}的数据如下</p></th></tr>
					<else />
					</if>
				<tr>
				<th>编 号</th>
				<th>酒 店</th>
				<th>房 型</th>
				<th>去哪儿价格</th>
				<th>官网价格</th>
				<th>qunar.com</th>
				</tr>
				</thead>
				<tbody>
				<volist name="prices" id="p1">
				<tr>
				<td>{$p1.id}</td>
				<td>{$p1.hotelname}</td>
				<td>{$p1.roomname}</td>
				<td>{$p1.priceqnr}</td>
				<td>{$p1.pricewyn}</td>
				<td><a href="http://hotel.qunar.com/city/{$p1.hotelseq}" target="_blank">查看&gt;&gt;</a></td>
				</tr>
				</volist>
				</tbody>
				</table>
			</div>
			<!-- 模态框（Modal） -->
			<div class="modal fade" id="complete" tabindex="-1" role="dialog" 
			   aria-labelledby="myModalLabel" aria-hidden="true">
			   <div class="modal-dialog">
				  <div class="modal-content">
					 <div class="modal-header">
						<button type="button" class="close" 
						   data-dismiss="modal" aria-hidden="true">
							  &times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
						   信息提示！
						</h4>
					 </div>
					 <div class="modal-body">
						 报价数据爬行完成
					 </div>
					 <div class="modal-footer">
						<button type="button" class="btn btn-default" 
						   data-dismiss="modal">关闭
						</button>
					 </div>
				  </div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
			<p></p>
			<div class="cont">
				<ul id="hotelUpdateInfo"></ul>
			</div>
			<div class="cont">
				
			</div>
			
	</div>
	</div>

</div>
</body>

</html>